/* CONCEPT SPAN */
.health-translator .medical-term-translate{
	background-color:#FFFF00;
	display: inline;
	position:relative;
}

*:not(a) > .health-translator .medical-term-translate{
	cursor: help;
}

/* TOOLTIP */

div.health-translator.tooltip div.tooltip-inner {
    max-width: 380px !important;
    
}

div.health-translator.tooltip div.tooltip-inner p.definition{
    text-align:justify !important;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

/* MODAL */

#health-translator-modal, #health-translator-rating-modal{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

#health-translator-modal .modal-body{
	overflow-y:auto;
	max-height: calc(100vh - 200px);
}

#health-translator-concept-name:first-letter, #ht-rating-concept-name:first-letter{
	display: block;
	text-transform: uppercase;
}

#health-translator-semantic-type{
	margin-bottom: 0px; 
	margin-top: 0px;
}

#health-translator-concept-name{
	margin-bottom: 5px;
}

#health-translator-footer{
	text-align: center;
}

#health-translator-references div.ext-ref{
	margin-bottom: 5px;
}