/* CONCEPT SPAN */
.health-translator .medical-term-translate{
	/*background-color:#66FF66;*/
	display: inline;
	position:relative;
}


x-health-translator.medical-term-translate{
	cursor: help;
}

a x-health-translator.medical-term-translate{
	cursor: inherit;
}

/* TOOLTIP */
div.health-translator.tooltip div.tooltip-inner{
    max-width: 378px !important;
}

div.health-translator.tooltip div.tooltip-inner *{
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.health-translator.tooltip div.tooltip-inner p.definition{
	text-align: justify;
}

div.health-translator.tooltip div.tooltip-inner p{
	color: white;
	background:none;
}

div.health-translator.tooltip div.tooltip-inner a:link, div.health-translator.tooltip div.tooltip-inner a:visited { 
    color: rgb(51, 122, 183);
    text-decoration: none;
    cursor: auto;
}

div.health-translator.tooltip div.tooltip-inner a:hover, div.health-translator.tooltip div.tooltip-inner a:focus { 
    color: rgb(35, 82, 124);
    text-decoration: underline;
}


/* MODAL */

#health-translator-modal div, #health-translator-rating-modal div{
	position: static !important;
}

#health-translator-modal a:link, #health-translator-modal a:visited { 
    color: rgb(51, 122, 183);
    text-decoration: none;
    cursor: auto;
}

#health-translator-modal a:hover, #health-translator-modal a:focus {
    color: rgb(35, 82, 124);
    text-decoration: underline;
}

#health-translator-modal p{
	font-size: 14px !important;
	color: black !important;
}

#health-translator-rating-modal p{
	font-size: 16px !important;
	color: black !important;
}

#health-translator-modal .modal-body{
	overflow-y:auto;
	max-height: calc(100vh - 200px);
}

#health-translator-concept-name:first-letter, #ht-rating-concept-name:first-letter{
	display: block;
	text-transform: uppercase;
}

#health-translator-semantic-type{
	margin-bottom: 0px; 
	margin-top: 0px;
}

#health-translator-concept-name{
	margin-bottom: 5px;
}

#health-translator-footer{
	text-align: center;
}

#health-translator-references div.ext-ref{
	margin-bottom: 5px;
}

